.cart-container {
  /* border: magenta solid 1px; */
  width: 200px;
  height: 100%;
  position: relative;
  float: right;
  /* transform: translateX(-50px); */
}

#cart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  width: var(--containerWidth);
  height: var(--containerHeight);
  border-radius: var(--containerBorderRadius);
}

#cart > div {
  color: white;
  display: inline-block;
  margin: 0px 2% 0px 2%;
}

#cart-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.number-of-items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(250%, -50%);
}

.cart-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-285%, -50%);
}

.cart-modal {
  border: black solid 0.8px;
  background-color: white;
  width: 150%;
  height: 500%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-80%, -5%);
  overflow-y: scroll;
  /* position: absolute; */
}

.order-name-edit-button-quantity-container {
  margin: 10px 0px 10px 0px;
  border: magenta solid 2px;
  width: 100%;
  height: 35%;
  position: relative;
}

.order-name-edit-button-quantity-container > div {
  display: inline-block;
  margin: 0px 2px 0px 2px;
}
.checkout-button > div {
  display: inline-block;
  margin: 0px 5px 0px 5px;
}

.checkout-button-text {
  color: black;
}

.total-price p {
  color: black;
}
