:root {
  --containerBackgroundColor: lightgray;
  --containerBorderColor: solid lightgray 0.8px;
  --containerWidth: 80%;
  --containerHeight: 50%;
  --containerBorderRadius: 2vh;
}

.unfixed-wrapper {
  height: 100px;
  width: 100%;
  margin-bottom: 5px;
}

.navbar {
  border: silver solid 0.8px;
  height: 100px;
  width: 100%;
  border-right: none;
  border-left: left;
  position: fixed;
  z-index: 5;
  background-color: whitesmoke;
}

.navbar > div {
  display: inline-block;
  /* border: 1px solid red; */
  margin: 0px 0.8% 0px 0.8%;
}

/* hamburger menu */
.hamburger-menu-container {
  float: left;
  height: 100%;
  width: 100px;
  position: relative;
  margin-right: 1px;
}

.hamburger-menu-icon {
  /* border: solid black 2px; */
  position: absolute;
  width: 50px;
  height: 45px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

#hamburger-line-1 {
  background-color: black;
  width: 100%;
  height: 3px;
  margin: 1px 0px 1px 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#hamburger-line-2 {
  background-color: black;
  width: 100%;
  height: 3px;
  margin: 1px 0px 1px 0px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#hamburger-line-3 {
  background-color: black;
  width: 100%;
  height: 3px;
  margin: 1px 0px 1px 0px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-container {
  /* border: black solid 2px; */
  height: 100%;
  width: 200px;
  margin: 0px 2% 0px 2%;
}

.hamburger-line {
  border-radius: 2vh;
  border: black solid 0.0001px;
}

/* logo container */
.logo-container {
  position: relative;
}

.logo-container > div {
  /* display: inline-block; */
  /* border: 1px solid red;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute; */
  /* margin: 0px 2% 0px 2%; */
}

#quick-text {
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  position: absolute;
}

#carnivore-text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

#eats-text {
  top: 50%;
  left: 78%;
  transform: translate(-50%, -50%);
  position: absolute;
}

/* deliver or pickup button */
.deliver-or-pick-up-container {
  /* border: solid black 2px; */
  height: 100%;
  width: 250px;
  position: relative;
}

.deliver-or-pick-up-button {
  position: absolute;
  width: 80%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid lightgray 0.8px;
  background-color: var(--containerBackgroundColor);
  border-radius: 2vh;
  text-align: center;
}
.deliver-or-pick-up-button > div {
  display: inline-block;
  /* border: 1px solid red; */
  margin: 15px 5% 0px 5%;
}

#deliver {
  margin-left: 20px;
}

#pick-up {
  margin-right: 20px;
}

/* search-bar */
.search-bar-container {
  height: 100%;
  width: 500px;
  position: relative;
}

.search-results-sub-container {
  margin-top: 10px;
  border: solid 0.8px orange;
}

.search-bar-sub-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: var(--containerBorderColor);
  background-color: var(--containerBackgroundColor);
  width: var(--containerWidth);
  height: var(--containerHeight);
  border-radius: var(--containerBorderRadius);
}

.search-input {
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 55%;
  background: none;
  border: none;
}

#search-icon-container {
  width: 5%;
  height: 70%;
  position: absolute;
  top: 10%;
  left: 5%;
}

#search-icon-container i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-results-container {
  border: black solid 0.8px;
  background-color: white;
  width: 150%;
  height: 500%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -5%);
  overflow-y: scroll;
}

/* side navBar */
.side-navbar {
  border: solid 2px black;
  width: 25%;
  height: 100%;
  z-index: 1000;
  position: fixed;
  background-color: white;
}
.hide-side-navbar {
  border: solid 2px black;
  width: 25%;
  height: 100%;
  background-color: white;
  position: fixed;
  z-index: -1000;
  /* visibility: hidden; */
  opacity: 0;
}
